.App {
  background-color: black;
  color: #41FF00;
}

.Nav-bar {
  background-color: #A9A9A9;
  height: auto;
  padding: 2% 0% 2% 5%;
  text-align: left;
}

.libraryNav {
  padding-left: 5%;
}

.landingLink {
  color: black;
  font-size: 2vmax;
  font-family: 'Press Start 2P', sans-serif;
}

.libraryLink {
  color: black;
  font-size: 2vmax;
  font-family: 'Press Start 2P', sans-serif;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  text-align: center;
  color: #ff0099;
  font-size: 13vmin;
}

.title-text {
  position: absolute;
  margin-left: 22.5%;
  margin-top: 41%;
  width: 60%;
  height: 20%;
}

.hero-title {
  color: white;
  font-size: 8vw;
}

body {
  background-color: black;
}

.title {
  text-align: center;
  position: relative;
}

.Boombox_photo {
  height: auto;
  width: 90%;
  border-radius: 3%;
}

.pointSections {
  text-align: center;
  width: 300px;
  font-family: 'Orbitron', sans-serif;
  padding-top: 1%;
  padding-bottom: 8%;
}

.point-title {
  font-size: 30px;
}

.point-description {
  font-size: 15px;
}

.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

<!--This is the start of this section-->

.allLibrary {

}

.albumPhoto {
  width: 30vmax;
  margin-left: auto;
  margin-right: auto;
}

.infoLink1 {
  color: #41FF00;
  font-size: 4.5vmax;
  font-style: italic;
  text-align: center;
  margin-bottom: 3%;
  font-family: 'Orbitron', sans-serif;

  width: 42.5vmax;
  background: blue;
}

.infoLink2 {
  color: #41FF00;
  font-size: 2.75vmax;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  width: 42.5vmax;
  background: green;
}


<!--This is the end of this section-->

.albumDiv {
  float: left;
  padding-bottom: 50px;
  display: flex;
}

.albumDiv2 {
  width: 400px;
}

#album-cover-art {
  display: block;
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.album-details {
  color: #41FF00;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

#album-title {
  margin-top: 3%;
  font-style: italic;
  font-size: 265%;
}

.artist {
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 150%;
}

#release-info {
  font-size: 150%;
  padding-bottom: 10%;
}

.song-table {
  width: 50px;
  height: 700px;
}

.albumInfo2 {
  float: left;
}

#song-number-column {
  width: 30px;
  margin-left: 10px;
}

#song-title-column {
  width: 325px;
}

#song-duration-column {
  width: 50px;
}

.song-title {
  padding: 2% 10% 2% 2%;
  font-family: 'Orbitron', sans-serif;
}

.song-duration {
  font-family: 'Orbitron', sans-serif;
}

.PlayerBar {
  display: block;
  text-align: center;
  padding: 20% 10% 0% 10%;
  font-family: 'Orbitron', sans-serif;
}

#hover-buttons {
  font-family: 'Orbitron', sans-serif;
}
